body { 
background-color: black;
    margin: 0px ;
    padding: 0px;
    background-image: url(images/backimg.jpg) 

}


.header { 
    display: flex;
    justify-content: center;
    color: aliceblue;
    font:  normal 88px True Crimes;
    margin: 10px;
   
    color: #C63D0F;

}

span { 
color: white;
    
}


.main h1,h2,h3{
     display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: 45px;
    
    
}
    
.content {
display: flex;
   justify-content: center;
    flex-basis: auto;
 
     }    



.btn-style {
    margin-left: 30px;  
	border : solid 1px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 19px;
	color : ghostwhite;
	background : #5f6166;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
	background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : linear-gradient(top, #5f6166 0%, #00060a 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6166', endColorstr='#00060a',GradientType=0 );
    
    
    
}


.background {
    display: flex;
    background-image:url(images/murder.gif);
    background-repeat: no-repeat;
    height: 500px;
   background-position: center;
    margin-top: 45px;
    padding-right: 1000px;
  
    
}




}
    
    
    
    
    
    
}





     
    
    



